<div class="extra">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h4>About</h4>
        <ul>
          <li><a href="http://geometryzen.github.io/mission/">Our Mission</a></li>
          <li><a href="https://twitter.com/#!/geometryzen">Twitter</a></li>
          <li><a href="javascript:;">Facebook</a></li>
          <li><a href="https://plus.google.com/u/0/s/Geometry%20Zen/communities" target="_blank">Google+</a></li>
        </ul>
      </div>
      <div class="span4">
        <h4>Support</h4>
        <ul>
          <li><a href="http://geometryzen.github.io/faq/">Frequently Asked Questions</a></li>
          <li><a href="https://github.com/geometryzen/geometryzen/issues">Ask a Question</a></li>
          <li><a href="javascript:;">Video Tutorial</a></li>
          <li><a href="javascript:;">Feedback</a></li>
          <li><a href="https://github.com/geometryzen/geometryzen/issues">Issue Tracker</a></li>
        </ul>
      </div>
      <div class="span4">
        <h4>Legal</h4>
        <ul>
          <li><a href="javascript:;">License</a></li>
          <li><a href="javascript:;">Terms of Use</a></li>
          <li><a href="javascript:;">Privacy Policy</a></li>
          <li><a href="javascript:;">Security</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>