<footer>
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="footer-contributors" class="span6">
        <p>By <a href="http://github.com/david-geo-holmes">David Geo Holmes</a>, and many more <a href="https://github.com/david-geo-holmes/geometry-zen/graphs/contributors">awesome&nbsp;contributors</a>.</p>
      </div>
      <div id="footer-terms" class="span6">
        <p>
          Proudly hosted by
          <a href="https://github.com">
            <img src="{{ site.url }}/img/footer-logo.png" width="100px" height="30px" alt="GitHub • Social coding">
          </a>
        </p>
      </div>
    </div>
    <div class="row-fluid">
      <div id="footer-copyright" class="span6">© 2013 David Holmes</div>
      <div id="footer-terms" class="span6">Dedicated to Geo</div>
    </div>
  </div>
</footer>
