<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
          <i class="icon-cog"></i>
        </a>
        <a class="brand" href="{{ site.url }}/">
          <span class="brandname">Geometry Zen <sup class="version ng-binding">Hydrogen</sup></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right"></ul>
        </div>
      </div>
    </div>
  </div>
</header>